/*总价的显示*/
.allprice {
	margin-top: 20px;
	width: 250px;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	background-color: #ddd;
}

/*提示框*/
.tip1, .tip2, .tip8, .tip9, .tip10{
	height: 40px;
	border-radius: 6px;
    position: absolute;
    left: 815px;
    line-height: 40px;
    padding: 0 10px;
    color: white;
    display: none;
/*    background: rgba(255,0,0,0.5); 
    display: block;*/ 
}

.tip3, .tip4, .tip5, .tip6, .tip7{
	height: 40px;
	border-radius: 6px;
    position: absolute;
    left: 572px;
    line-height: 40px;
    padding: 0 10px;
    color: white;
    display: none;
/*    background: rgba(255,0,0,0.5); 
    display: block; */
}

.tipwrong{
    background: rgba(255,0,0,0.5); 
    display: block;  
}

.tipwrong::after{
	content: '';
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: solid;
	border-color: transparent;
	border-right-color: rgba(255,0,0,0.5);
	position: absolute;
	top: 10px;
	left: -12px;  
}

.tipright{
    display: block;
    background: rgba(0,180,80,0.5);
}

.tipright::after{
	content: '';
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: solid;
	border-color: transparent;
	border-right-color: rgba(0,180,80,0.5);
	position: absolute;
	top: 10px;
	left: -12px;  
}